{% extends 'layout.html' %}
{% block body %}

{% for game in gameList %}
<p> {{ game.name }} &nbsp; {{ game.platform }} <br>
<form action='{{ url_for('update', idNum=game.id) }}'>
<input type=submit value="Update Game">
</form>
<form action='{{ url_for('delete', idNum=game.id) }}'>
<input type=submit value="Delete">
</form>
<form action='{{ url_for('viewSession', idNum=game.id) }}'>
<input type=submit value="View Sessions">
</form>
<form action='{{ url_for('addsession', idNum=game.id) }}'>
<input type=submit value="Add Sessions">
</form>
<p> --------------------------------------------- </p>
</p>
{% endfor %}

{% endblock body %}

