{% extends 'layout.html' %}
{% block body %}
<p><h2> {{ game.name }} &nbsp; {{ game.platform }} </h2></p>
<p> --------------------------------------------- </p>
{% for session in sessionList %}
<p>Time played: {{ session.time_played }} &nbsp; on: {{ session.date_played }}
<form action='{{ url_for('deletesession', idNum=session.id) }}'>
<input type=submit value="Delete">
</form>
<form action='{{ url_for('updatesession', idNum=session.id) }}'>
<input type=submit value="Update Session">
</form>



<p> --------------------------------------------- </p>
</p>
{% endfor %}

{% endblock body %}
